{% extends 'LocIHMLocationBundle:Admin:layout.html.twig' %}

{% block corps -%}
    
    <!-- Header -->
    <div class="row">
        <div class="small-12 columns">
          <h1> {{'titre.agence.edit'|trans}} </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
    		{{ form(edit_form) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
        	<a href="{{ path('agence') }}"  class="button">
               {{'form.add.retour'|trans}}
            </a>
            {{ form(delete_form) }}
        </div>
    </div>
    
{% endblock %}
