{% extends 'LocIHMLocationBundle:Admin:layout.html.twig' %}

{% block corps -%}

    <!-- Header -->
    <div class="row">
        <div class="small-5 columns">
          <h1> {{'titre.agence.new'|trans}} </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-5 columns">
            {{ form_start(form) }}

                {{ form_errors(form) }}
                <div class="panel">
                    <div class="row">
                        <div class="small-12 columns">
                    		{{ form_label(form.nom, 'word.table.nom'|trans|title )  }}
                			{{ form_widget(form.nom) }}
                			{{ form_errors(form.nom) }}
                		</div>
                	</div>

                    <div class="row">
                        <div class="small-12 columns">
                			{{ form_label(form.adresse, 'word.table.agence.adresse'|trans|title ) }}
                			{{ form_widget(form.adresse) }}
                			{{ form_errors(form.adresse) }}
                		</div>
                	</div>

                   <div class="row">
                        <div class="small-12 columns">	
                			{{ form_label(form.coordonnees, 'word.table.agence.coordonnees'|trans|title ) }}
                			{{ form_widget(form.coordonnees) }}
                			{{ form_errors(form.coordonnees) }}			   		 
                        </div>
                    </div>

                   <div class="row">
                        <div class="small-12 columns">
                			{{ form_widget(form.submit, { 'label': 'form.valider'|trans|title }) }}
                        </div>
                    </div>

                {{ form_rest(form) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
        	<a href="{{ path('agence') }}"  class="button">
               {{'form.add.retour'|trans|title}}
            </a>
        </div>
    </div>

{% endblock %}
