{% extends 'LocIHMLocationBundle:Admin:layout.html.twig' %}

{% block corps -%}
    
    <div class="row">
        <div class="small-12 columns">
          <h1> {{'titre.agence.new'|trans}} </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
        	<form action="{{ "{{ path('agence_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }} novalidate="novalidate">
    			{{ form_row(form.nom) }}
    			{{ form_row(form.adresse) }}
    			{{ form_row(form.coordonnees) }}
    		<p>
        		<button type="submit" class="btn btn-primary">Enregistrer</button>
    		</p>
			</form>

   		</div>
    </div>

	<div class="row">
        <div class="small-12 columns">
        <a href="{{ path('agence') }}">
            Back to the list
        </a>
   		</div>
    </div>

{% endblock %}
