{% extends 'LocIHMLocationBundle:Admin:layout.html.twig' %}

{% block corps -%}
    
    <!-- Header -->
    <div class="row">
        <div class="small-12 columns">
          <h1> {{'titre.agence.show'|trans|title}} </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <table>
                <tbody>
                    <tr>
                        <th>{{'word.table.id'|trans|title}}</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>{{'word.table.nom'|trans|title}}</th>
                        <td>{{ entity.nom }}</td>
                    </tr>
                    <tr>
                        <th>{{'word.table.agence.adresse'|trans|title}}</th>
                        <td>{{ entity.adresse }}</td>
                    </tr>
                    <tr>
                        <th>{{'word.table.agence.coordonnees'|trans|title}}</th>
                        <td>{{ entity.coordonnees }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            {{ form_start(delete_form) }}
            {{ form_errors(delete_form) }}
            {{ form_widget(delete_form.submit, { 'label': 'form.delete'|trans|title} ) }}
            {{ form_rest(delete_form) }}
            {{ form_end(delete_form) }}
            <a href="{{ path('agence') }}"  class="button">
               {{'form.add.retour'|trans|title}}
            </a>
            <a href="{{ path('agence_edit', { 'id': entity.id }) }}"  class="button">
               {{'word.table.action.edit'|trans|title}}
            </a>
        </div>
    </div>

{% endblock %}

