{% extends 'LocIHMLocationBundle:Admin:layout.html.twig' %}

{% block corps -%}
    
    <!-- Header -->
    <div class="row">
        <div class="small-12 columns">
          <h1> {{'titre.agence.show'|trans}} </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <table>
                <tbody>
                    <tr>
                        <th>{{'word.table.id'|trans}}</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>{{'word.table.nom'|trans}}</th>
                        <td>{{ entity.nom }}</td>
                    </tr>
                    <tr>
                        <th>{{'word.table.agence.adresse'|trans}}</th>
                        <td>{{ entity.adresse }}</td>
                    </tr>
                    <tr>
                        <th>{{'word.table.agence.coordonnees'|trans}}</th>
                        <td>{{ entity.coordonnees }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <a href="{{ path('agence') }}"  class="button">
               {{'form.add.retour'|trans}}
            </a>
            <a href="{{ path('agence_edit', { 'id': entity.id }) }}"  class="button">
               {{'word.table.action.edit'|trans}}
            </a>
            {{ form(delete_form) }}
        </div>
    </div>

{% endblock %}

