{% if is_granted("ROLE_ADMIN") %}
	{# Utilisateur connecté #}
	<li>
		<a href="{{ path('loc_ihm_location_user_index') }}">{{ 'message.user.moncompte'|trans|title }}</a>
	</li>
	<li class="divider"></li>
	<li class="has-form">
		<a href="{{ path('fos_user_security_logout') }}" class="button">{{ 'layout.logout'|trans([], 'FOSUserBundle') }}</a>
	</li>
{% elseif  is_granted("ROLE_USER")%}
	<li>
		<a href="{{ path('loc_ihm_location_user_index') }}">{{ 'message.user.moncompte'|trans|title }}</a>
	</li>
	<li class="divider"></li>
	<li class="has-form">
		<a href="{{ path('fos_user_security_logout') }}" class="button">{{ 'layout.logout'|trans([], 'FOSUserBundle') }}</a>
	</li>
{% else %}
	<li class="has-form">
		<a href="{{ path('fos_user_security_login') }}" class="button" data-dropdown="drop">{{ 'layout.login'|trans([], 'FOSUserBundle') }}</a>
	</li>
	<li class="divider"></li>
	<li class="has-form">
		<a href="{{ path('fos_user_registration_register') }}" class="button">{{ 'layout.register'|trans([], 'FOSUserBundle') }}</a>
	</li>
{% endif %}