{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}Loc IHM |{% endblock %}</title>

		{% block css %}
			<link rel="stylesheet" href="{{asset('bundles/LocationBundle/css/foundation.css')}}" />
			<link rel="stylesheet" href="{{asset('bundles/LocationBundle/css/foundation-datepicker.css')}}" />
			<link rel="stylesheet" href="{{asset('bundles/LocationBundle/icons/foundation-icons.css')}}" />
			<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"><!-- Icones DatePicker -->

			<!-- A nous -->
			<link rel="stylesheet" href="{{asset('bundles/LocationBundle/css/default.css')}}"/>
		{% endblock %}
	</head>
<body>

<!-- TOP BAR --> 
<div class="fixed">
	<nav class="top-bar "data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><a href="{{ path('loc_ihm_location_homepage',{}) }}">Loc IHM</a></h1>
		</li>
	</ul>

	<section class="top-bar-section">
		<!-- Right -->
		<ul class="right">
		{% if is_granted("ROLE_ADMIN") %}
			<li><a href="#">Dashboard</a></li>
			<li class="divider"></li>
			<li><a href="{{ path('loc_ihm_location_recherche') }}">Réservation</a></li>
			<li class="divider"></li>
			<li><a href="{{ path('contrat') }}">Contrats</a></li>
			<li class="divider"></li>
			<li class="has-dropdown">
				<a href="#">Gestion</a>
				<ul class="dropdown">
					<li><a href="{{ path('agence') }}">Agences</a></li>
					<li><a href="{{ path('vehicule') }}">Vehicules</a></li>
					<li><a href="{{ path('forfait') }}">Forfaits</a></li>
					<li><a href="#">Utilisateurs</a></li>
				</ul>
			</li>
		{% endif %}

			<li class="divider"></li>
			{% include "LocIHMLocationBundle::connexion.html.twig" %}

		</ul>
	</section>
	</nav>
</div>

<div id="content">

	<div class="row">
		<div class="small-12 columns">
			{% for flashMessage in app.session.flashbag.get('notice') %}
			    <div data-alert class="flash-notice alert-box">
			        {{ flashMessage }}
			        <a href="#" class="close">&times;</a>
			    </div>
			{% endfor %}
		</div>
	</div>

	{% block corps %}
		{% block fos_user_content %}{% endblock %}
	{% endblock %}
</div>

<!-- Footer -->
{% block footer %}
	<div class="row">
		<div class="small-12 column">
			<div class="footer">
				<p>-- LocIHM --<br/>{{ 'footer.create'|trans }}</p>
			</div>
		</div>
	</div>
{% endblock %}
	
{% block javascript %}
	<script src="{{asset('bundles/LocationBundle/js/vendor/jquery.js')}}"></script>
	<script src="{{asset('bundles/LocationBundle/js/foundation.min.js')}}"></script>
	<script src="{{asset('bundles/LocationBundle/js/vendor/modernizr.js')}}"></script>
	<script src="{{asset('bundles/LocationBundle/js/foundation/foundation.topbar.js')}}"></script>
	<script src="{{asset('bundles/LocationBundle/js/foundation/foundation.tab.js')}}"></script>
	<script src="{{asset('bundles/LocationBundle/js/foundation/foundation.alert.js')}}"></script>
	<script src="{{asset('bundles/LocationBundle/js/vendor/datepicker.js')}}"></script>
	<script src="{{asset('bundles/LocationBundle/js/default.js')}}"></script>

	<script>
		$(document).foundation('alert', 'reflow');
	</script>
{% endblock %}

</body>
</html>
