{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

<!doctype html>
<html class="no-js" lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}Loc IHM |{% endblock %}</title>

		{% block css %}
			<link rel="stylesheet" href="{{asset('bundles/LocationBundle/css/foundation.css')}}" />
			<link rel="stylesheet" href="{{asset('bundles/LocationBundle/css/foundation-datepicker.css')}}" />
			<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"><!-- Icones DatePicker -->

			<!-- A nous -->
			<link rel="stylesheet" href="{{asset('bundles/LocationBundle/css/default.css')}}"/>
		{% endblock %}
	</head>
<body>

<!-- TOP BAR --> 
<div class="sticky">
	<nav class="top-bar "data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><a href="{{ path('loc_ihm_location_homepage',{}) }}">Loc IHM</a></h1>
		</li>
	</ul>

	<section class="top-bar-section">
		<!-- Right -->
		<ul class="right">
			<li class="divider"></li>
			{% include "LocIHMLocationBundle::connexion.html.twig" %}

		</ul>
	</section>
	</nav>
</div>

<div id="content">

	<div class="row">
		<div class="small-12 columns">
			{% for type, messages in app.session.flashbag.all() %}
			    {% for message in messages %}
			        <div data-alert class="flash-{{ type }} alert-box success">
			            {{ message }}
			        </div>
			    {% endfor %}
			{% endfor %}
		</div>
	</div>

	{% block corps %}
		{% block fos_user_content %}{% endblock %}
	{% endblock %}
</div>

<!-- Footer -->
{% block footer %}
	<div class="row">
		<div class="small-12 column">
			<div class="footer">
				<p>-- LocIHM --<br/></p>
			</div>
		</div>
	</div>
{% endblock %}
	

	<script src="{{asset('bundles/LocationBundle/js/vendor/jquery.js')}}"></script>
	<script src="{{asset('bundles/LocationBundle/js/vendor/modernizr.js')}}"></script>
	<script src="{{asset('bundles/LocationBundle/js/foundation.min.js')}}"></script>
	<script src="{{asset('bundles/LocationBundle/js/foundation/foundation.topbar.js')}}"></script>
	<script src="{{asset('bundles/LocationBundle/js/vendor/datepicker.js')}}"></script>
	<script src="{{asset('bundles/LocationBundle/js/default.js')}}"></script>

</body>
</html>
