{% extends 'LocIHMLocationBundle:Admin:layout.html.twig' %}

{% block corps -%}
    
    <!-- Header -->
    <div class="row">
        <div class="small-12 columns">
          <h1> {{'titre.typevehicule.edit'|trans|title}} </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-5 columns">
            {{ form_start(edit_form) }}

                {{ form_errors(edit_form) }}
                <div class="panel">
                    <div class="row">
                        <div class="small-12 columns">
                            {{ form_label(edit_form.nom, 'word.table.nom'|trans|title )  }}
                            {{ form_widget(edit_form.nom) }}
                            {{ form_errors(edit_form.nom) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 columns">
                            {{ form_label(edit_form.categorie, 'word.table.typevehicule.categorie'|trans|title ) }}
                            {{ form_widget(edit_form.categorie) }}
                            {{ form_errors(edit_form.categorie) }}
                        </div>
                    </div>

                   <div class="row">
                        <div class="small-12 columns">  
                            {{ form_label(edit_form.ssCategorie, 'word.table.typevehicule.sscategorie'|trans|title ) }}
                            {{ form_widget(edit_form.ssCategorie) }}
                            {{ form_errors(edit_form.ssCategorie) }}                  
                        </div>
                    </div>

                   <div class="row">
                        <div class="small-12 columns">
                            {{ form_widget(edit_form.submit, { 'label': 'form.valider'|trans|title }) }}
                            {{ form_rest(edit_form) }}
                            {{ form_end(edit_form) }}

                            {{ form_start(delete_form) }}
                            {{ form_errors(delete_form) }}
                            {{ form_widget(delete_form.submit, { 'label': 'form.delete'|trans|title }) }}
                            {{ form_rest(delete_form) }}
                            {{ form_end(delete_form) }}
                        </div>
                    </div>


                </div>

        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
        	<a href="{{ path('typevehicule') }}"  class="button">
               {{'form.add.retour'|trans|title}}
            </a>
        </div>
    </div>
{% endblock %}
