{# src/OC/PlatformBundle/Resources/views/Default/form_reserv.html.twig #}

{{ form_start(form) }}

	{{ form_errors(form) }}

	<div class="row">
		<div class="small-12 columns">
			{{ form_label(form.categorie, 'form.categorie'|trans|title) }}
			{{ form_widget(form.categorie) }}
			{{ form_errors(form.categorie) }}
		</div>
	</div>

	<div class="row">
		<div class="small-12 large-6 medium-6 columns">
			{{ form_label(form.type, 'form.type'|trans|title) }}
			{{ form_widget(form.type) }}
			{{ form_errors(form.type) }}
		</div>
	</div>

	<div class="row">
		<div class="small-6 columns">
			{{ form_label(form.dateDepart, 'form.datedepart'|trans|title) }}
			{{ form_widget(form.dateDepart) }}
			{{ form_errors(form.dateDepart) }}
		</div>
		<div class="small-6 columns">
			{{ form_label(form.dateArrivee, 'form.datearrivee'|trans|title) }}
			{{ form_widget(form.dateArrivee) }}
			{{ form_errors(form.dateArrivee) }}
		</div>
	</div>

	{{ form_rest(form) }}
	
	<div class="row">
		<div class="small-12 columns">
			<input type="submit" id="vehSubmit" value="Trouver mon véhicule" class="button"/>
		</div>
	</div>

{{ form_end(form) }}