{# src/OC/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends "LocIHMLocationBundle::layout.html.twig" %}

{% block title %}
	{{ 'word.accueil'|trans|title}} - {{ parent() }}
{% endblock %}


{% block corps %}
	
	<!-- Header -->
	<div class="row">
		<div class="small-12 columns">
			<h1>Loc IHM</h1>
			<img src="{{asset('bundles/LocationBundle/img/accueil-top.png')}}" alt="Img Accueil"/>
		</div>
	</div>

	<!-- Corps -->
	<div class="row">
		<div class="small-12 columns">
			<div class="panel">
				<h3>{{ 'titre.presentation'|trans }}</h3>
				<p>{{ 'message.index.presentation.paragraphe'|trans }}</p>
				<p>{{ 'message.index.presentation.paragraphe2'|trans }}</p>
				<div class="row">
				{% for i in 1..3 %}
					<div class="large-4 medium-4 columns">
						<p><strong>{{ ('message.index.presentation.items.item' ~ i ~ '.keyword')|trans }}</strong><br/>{{('message.index.presentation.items.item' ~ i ~ '.text')|trans }}</p>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<!-- Form recherche -->
	<div class="row">
		<div class="small-12 columns">

			<h3>{{ 'titre.reservezvehicule'|trans }}</h3>


			{% if is_granted("ROLE_USER") %}
				{% include "LocIHMLocationBundle:Default:form_reserv.html.twig" %}

			{% else %}
				<div class="panel">
					<h4 class="subheader text-center">{{ 'message.index.login.msg'|trans }}<h4>
					<p class="text-center">
						<a href="{{ path('fos_user_security_login') }}" class="button large">{{ 'message.index.login.connexion'|trans }}</a>
						 ou 
						<a href="{{ path('fos_user_registration_register') }}" class="button large">{{ 'message.index.login.inscription'|trans }}</a>
					</p>
				</div>
			{% endif %}
			
		</div>
	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script>
		$(document).foundation('tab', 'reflow');
		$(document).ready(function()
		{

			// implementation of disabled form fields
			// PREMIER FORMULAIRE
			var nowTemp = new Date();
			var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

			var checkin1 = $('#LocIHM_LocationBundle_rechercheVehDispo_Tourisme_dateDepart').fdatepicker({
				format: 'dd/mm/yyyy',
				onRender: function (date) {
					return date.valueOf() < now.valueOf() ? 'disabled' : '';
				}
			}).on('changeDate', function (ev) {
				if (ev.date.valueOf() > checkout1.date.valueOf()) {
					var newDate = new Date(ev.date)
					newDate.setDate(newDate.getDate());
					checkout1.update(newDate);
				}
				checkin1.hide();
				$('#LocIHM_LocationBundle_rechercheVehDispo_Tourisme_dateArrivee')[0].focus();
			}).data('datepicker');
			var checkout1 = $('#LocIHM_LocationBundle_rechercheVehDispo_Tourisme_dateArrivee').fdatepicker({
				format: 'dd/mm/yyyy',
				onRender: function (date) {
					return date.valueOf() < checkin1.date.valueOf() ? 'disabled' : '';
				}
			}).on('changeDate', function (ev) {
				checkout1.hide();
			}).data('datepicker');

			var checkin2 = $('#LocIHM_LocationBundle_rechercheVehDispo_Utilitaire_dateDepart').fdatepicker({
				format: 'dd/mm/yyyy',
				onRender: function (date) {
					return date.valueOf() < now.valueOf() ? 'disabled' : '';
				}
			}).on('changeDate', function (ev) {
				if (ev.date.valueOf() > checkout2.date.valueOf()) {
					var newDate = new Date(ev.date)
					newDate.setDate(newDate.getDate());
					checkout2.update(newDate);
				}
				checkin2.hide();
				$('#LocIHM_LocationBundle_rechercheVehDispo_Utilitaire_dateArrivee')[0].focus();
			}).data('datepicker');
			var checkout2 = $('#LocIHM_LocationBundle_rechercheVehDispo_Utilitaire_dateArrivee').fdatepicker({
				format: 'dd/mm/yyyy',
				onRender: function (date) {
					return date.valueOf() < checkin2.date.valueOf() ? 'disabled' : '';
				}
			}).on('changeDate', function (ev) {
				checkout2.hide();
			}).data('datepicker');
		});
	</script>
	
{% endblock %}