{# src/OC/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends "LocIHMLocationBundle::layout.html.twig" %}

{% block title %}
	{{ 'word.accueil'|trans|title}} - {{ parent() }}
{% endblock %}


{% block corps %}
	
	<!-- Header -->
	<div class="row">
		<div class="small-12 columns">
			<h1>Loc IHM</h1>
			<img src="{{asset('bundles/LocationBundle/img/accueil-top.png')}}" alt="Img Accueil"/>
		</div>
	</div>

	<!-- Corps -->
	<div class="row">
		<div class="small-12 columns">
			<div class="panel">
				<h3>{{ 'titre.presentation'|trans }}</h3>
				<p>{{ 'message.index.presentation.paragraphe'|trans }}</p>
				<p>{{ 'message.index.presentation.paragraphe2'|trans }}</p>
				<div class="row">
				{% for i in 1..3 %}
					<div class="large-4 medium-4 columns">
						<p><strong>{{ ('message.index.presentation.items.item' ~ i ~ '.keyword')|trans }}</strong><br/>{{('message.index.presentation.items.item' ~ i ~ '.text')|trans }}</p>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<!-- Form recherche -->
	<div class="row">
		<div class="small-12 columns">

			<h3>{{ 'titre.reservezvehicule'|trans }}</h3>
			{{ include("LocIHMLocationBundle:Default:form_reserv.html.twig") }}
			
		</div>
	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script type="text/javascript">
	$(document).ready(function() {
		
		var categorieInput = 'input[name="LocIHM_LocationBundle_rechercheVehDispo[categorie]"]:radio';
		var categorieChecked = 'input[name="LocIHM_LocationBundle_rechercheVehDispo[categorie]"]:radio:checked';
		var typeElt = '#LocIHM_LocationBundle_rechercheVehDispo_type';


		$(categorieInput).on('change', function() {
			var $form = $(this).closest('form');
			var data = {};
			data[$('input[name="LocIHM_LocationBundle_rechercheVehDispo[categorie]"]:radio:checked').attr('name')] = $('input[name="LocIHM_LocationBundle_rechercheVehDispo[categorie]"]:radio:checked').val();

			$.ajax({
				url: $form.attr('action'),
				type: $form.attr('method'),
				data: data,
				success: function(html) {
					typeElt.replaceWith(
						$(html).find(typeElt)
					);
				}
			});
		});

	});
	</script>
{% endblock %}