{# src/OC/PlatformBundle/Resources/views/Default/recherche.html.twig #}

{% extends "LocIHMLocationBundle::layout.html.twig" %}

{% block title %}
	{{ 'titre.votrereservation'|trans|title}} - {{ parent() }}
{% endblock %}


{% block corps %}

	{% if vehicules is defined %}
		<div class="row" id="votreRecherche">
			<div class="small-12 columns">
			
				{% if vehicules|length > 0 %}
					<h3>{{ 'titre.vehiculesdispo'|trans|title }}</h3>
					<hr/>

					{% set cpt = 1 %}
					{% for vehicule in vehicules %}
						{% if cpt == 4 %}
							{% set cpt = 1 %}
						{% endif %}

						{% if cpt == 1 %}
							<div class="row">
						{% endif %}
								<div class="medium-4 columns">
									<ul class="pricing-table">
										<li class="title">{{ vehicule.marque }} {{ vehicule.modele }}</li>
										<li class="description">{{ vehicule.typeVehicule.nom }}</li>
										<li class="bullet-item">{{ vehicule.puissance }} CV</li>
										<li class="bullet-item">{{ 'word.couleur'|trans|title }} {{ vehicule.couleur }}</li>
										<li class="price">{{ vehicule.prixJournalier }} € /{{ 'word.jour'|trans }}</li>
										<li class="cta-button"><a class="button small" href="{{ path('loc_ihh_location_reserver') }}?idveh={{ vehicule.id }} ">Réserver</a></li>
									</ul>
								</div>
						{% if cpt == 3 %}
							</div>
						{% endif %}
						{% set cpt = cpt+1 %}
					{% endfor %}
				{% else %}
					<div data-alert class="alert-box">
						<strong>{{ 'message.recherche.pasdevehicule'|trans|title }}</strong>
						<a href="#" class="close">&times;</a>
					</div>
				{% endif %}
			<hr/>
			</div>
		</div>
	{% endif %}

	<!-- Form recherche -->
	<div class="row">
		<div class="small-12 columns">
			
			{% if vehicules is defined %}
				<h3>{{ 'titre.votrerecherche'|trans|title }}</h3>
			{% else %}
				<h3>{{ 'titre.reservezvehicule'|trans }}</h3>
			{% endif %}
			<div class="panel">
				{{ include("LocIHMLocationBundle:Default:form_reserv.html.twig") }}
			</div>
			
		</div>
	</div>
	
		

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script>
		$(document).foundation('tab', 'reflow');
		$(document).foundation('alert', 'reflow');
		$(document).ready(function()
		{

			// implementation of disabled form fields
			// PREMIER FORMULAIRE
			var nowTemp = new Date();
			var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

			var checkin1 = $('#LocIHM_LocationBundle_rechercheVehDispo_Tourisme_dateDepart').fdatepicker({
				format: 'dd/mm/yyyy',
				onRender: function (date) {
					return date.valueOf() < now.valueOf() ? 'disabled' : '';
				}
			}).on('changeDate', function (ev) {
				if (ev.date.valueOf() > checkout1.date.valueOf()) {
					var newDate = new Date(ev.date)
					newDate.setDate(newDate.getDate());
					checkout1.update(newDate);
				}
				checkin1.hide();
				$('#LocIHM_LocationBundle_rechercheVehDispo_Tourisme_dateArrivee')[0].focus();
			}).data('datepicker');
			var checkout1 = $('#LocIHM_LocationBundle_rechercheVehDispo_Tourisme_dateArrivee').fdatepicker({
				format: 'dd/mm/yyyy',
				onRender: function (date) {
					return date.valueOf() < checkin1.date.valueOf() ? 'disabled' : '';
				}
			}).on('changeDate', function (ev) {
				checkout1.hide();
			}).data('datepicker');

			var checkin2 = $('#LocIHM_LocationBundle_rechercheVehDispo_Utilitaire_dateDepart').fdatepicker({
				format: 'dd/mm/yyyy',
				onRender: function (date) {
					return date.valueOf() < now.valueOf() ? 'disabled' : '';
				}
			}).on('changeDate', function (ev) {
				if (ev.date.valueOf() > checkout2.date.valueOf()) {
					var newDate = new Date(ev.date)
					newDate.setDate(newDate.getDate());
					checkout2.update(newDate);
				}
				checkin2.hide();
				$('#LocIHM_LocationBundle_rechercheVehDispo_Utilitaire_dateArrivee')[0].focus();
			}).data('datepicker');
			var checkout2 = $('#LocIHM_LocationBundle_rechercheVehDispo_Utilitaire_dateArrivee').fdatepicker({
				format: 'dd/mm/yyyy',
				onRender: function (date) {
					return date.valueOf() < checkin2.date.valueOf() ? 'disabled' : '';
				}
			}).on('changeDate', function (ev) {
				checkout2.hide();
			}).data('datepicker');
		});
	</script>
	
{% endblock %}