{# src/OC/PlatformBundle/Resources/views/Default/recherche.html.twig #}

{% extends "LocIHMLocationBundle::layout.html.twig" %}

{% block title %}
	{{ 'titre.votrereservation'|trans|title}} - {{ parent() }}
{% endblock %}


{% block corps %}
	<!-- Form recherche -->
	<div class="row">
		<div class="small-12 columns">
			<h3>{{ 'titre.reservezvehicule'|trans }}</h3>
			<div class="panel">
				{{ include("LocIHMLocationBundle:Default:form_reserv.html.twig") }}
			</div>
			
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">

		</div>
	</div>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script>
		$(document).foundation('tab', 'reflow');
		$(document).ready(function()
		{

			// implementation of disabled form fields
			var nowTemp = new Date();
			var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
			// PREMIER FORMULAIRE
			var checkin = $('#LocIHM_LocationBundle_rechercheVehDispo_Tourisme_dateDepart').fdatepicker({
				language: 'fr',
				format: 'dd-mm-yyyy',
				onRender: function (date) {
					return date.valueOf() < now.valueOf() ? 'disabled' : '';
				}
			}).on('changeDate', function (ev) {
				if (ev.date.valueOf() > checkout.date.valueOf()) {
					var newDate = new Date(ev.date)
					newDate.setDate(newDate.getDate());
					checkout.update(newDate);
				}
				checkin.hide();
				$('#LocIHM_LocationBundle_rechercheVehDispo_Tourisme_dateArrivee')[0].focus();
			}).data('datepicker');

			var checkout = $('#LocIHM_LocationBundle_rechercheVehDispo_Tourisme_dateArrivee').fdatepicker({
				language: 'fr',
				format: 'dd-mm-yyyy',
				onRender: function (date) {
					return date.valueOf() < checkin.date.valueOf() ? 'disabled' : '';
				}
			}).on('changeDate', function (ev) {
				checkout.hide();
			}).data('datepicker');

			// DEUXIEME FORMULAIRE
			var checkin = $('#LocIHM_LocationBundle_rechercheVehDispo_Utilitaire_dateDepart').fdatepicker({
				language: 'fr',
				format: 'dd-mm-yyyy',
				onRender: function (date) {
					return date.valueOf() < now.valueOf() ? 'disabled' : '';
				}
			}).on('changeDate', function (ev) {
				if (ev.date.valueOf() > checkout.date.valueOf()) {
					var newDate = new Date(ev.date)
					newDate.setDate(newDate.getDate());
					checkout.update(newDate);
				}
				checkin.hide();
				$('#LocIHM_LocationBundle_rechercheVehDispo_Utilitaire_dateArrivee')[0].focus();
			}).data('datepicker');

			var checkout = $('#LocIHM_LocationBundle_rechercheVehDispo_Utilitaire_dateArrivee').fdatepicker({
				language: 'fr',
				format: 'dd-mm-yyyy',
				onRender: function (date) {
					return date.valueOf() < checkin.date.valueOf() ? 'disabled' : '';
				}
			}).on('changeDate', function (ev) {
				checkout.hide();
			}).data('datepicker');
		});
	</script>
	
{% endblock %}