{% extends 'LocIHMLocationBundle:Admin:layout.html.twig' %}

{% block corps -%}

    <!-- Header -->
    <div class="row">
        <div class="small-12 columns">
          <h1> {{'titre.contrat.menu'|trans|title}} </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <table>
                <thead>
                    <tr>
                        <th>{{'word.table.id'|trans|title}}</th>
                        <th>{{'word.table.contrat.datedebut'|trans|title}}</th>
                        <th>{{'word.table.contrat.datefin'|trans|title}}</th>
                        <th>{{'word.table.contrat.user'|trans|title}}</th>
                        <th>{{'word.table.vehicule.modele'|trans|title}}</th>
                        <th>{{'word.table.contrat.forfait'|trans|title}}</th>
                        <th>{{'word.table.action.title'|trans|title}}</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('contrat_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{% if entity.dateDebut %}{{ entity.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.user }}</td>
                        <td>{{ entity.vehicule.modele }}</td>
                        <td>{{ entity.forfait.nom }}</td>
                        <td>
                            <a href="{{ path('contrat_show', { 'id': entity.id }) }}" class="button tiny">{{'word.table.action.show'|trans|title}}</a>
                            <a href="{{ path('contrat_edit', { 'id': entity.id }) }}" class="button tiny">{{'word.table.action.edit'|trans|title}}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <a href="{{ path('contrat_new') }}" class="button">
                {{'form.add.new.contrat'|trans|title}}
            </a>
        </div>
    </div>

    {% endblock %}
