{% extends 'LocIHMLocationBundle:Admin:layout.html.twig' %}

{% block corps -%}
    
    <!-- Header -->
    <div class="row">
        <div class="small-12 columns">
          <h1> {{'titre.vehicule.show'|trans|title}} </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <table>
                <tbody>
                    <tr>
                        <th>{{'word.table.contrat.datedebut'|trans|title}}</th>
                        <td>{{ entity.dateDebut|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>{{'word.table.contrat.datefin'|trans|title}}</th>
                        <td>{{ entity.dateFin|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>{{'word.table.contrat.user'|trans|title}}</th>
                        <td>{{ entity.user }}</td>
                    </tr>
                    <tr>
                        <th>{{'word.table.vehicule.modele'|trans|title}}</th>
                        <td>{{ entity.vehicule.modele }}</td>
                    </tr>
                    <tr>
                        <th>{{'word.table.contrat.forfait'|trans|title}}</th>
                        <td>{{ entity.forfait.nom }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            {{ form_start(delete_form) }}
            {{ form_errors(delete_form) }}
            {{ form_widget(delete_form.submit, { 'label': 'form.delete'|trans|title} ) }}
            {{ form_rest(delete_form) }}
            {{ form_end(delete_form) }}
            <a href="{{ path('contrat') }}"  class="button">
               {{'form.add.retour'|trans|title}}
            </a>
            <a href="{{ path('contrat_edit', { 'id': entity.id }) }}"  class="button">
               {{'word.table.action.edit'|trans|title}}
            </a>
        </div>
    </div>

{% endblock %}
