{% extends "LocIHMLocationBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block corps %}
	<div class="row">
		<div class="small-4 small-centered columns">
			<div class="panel">
				<h3>Connectez-vous</h3>
				
				{% block fos_user_content %}
				{% if error %}
				    <div class="row">
				    	<div class="small-12 columns">
				    		<div data-alert class="alert-box alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				    	</div>
				    </div>
				{% endif %}
					<form action="{{ path("fos_user_security_check") }}" method="post">
					    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

					    <div class="row">
					    	<div class="small-12 columns">
							    <label for="username">{{ 'security.login.username'|trans }}
							    	<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
							    </label>
							</div>
						</div>
						<div class="row">
					    	<div class="small-12 columns">
							    <label for="password">{{ 'security.login.password'|trans }}
							    	<input type="password" id="password" name="_password" required="required" />
							    </label>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
					    		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					    		<label for="remember_me" class="right">{{ 'security.login.remember_me'|trans }}</label>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
					    		<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="button expand"/>
					    	</div>
					    </div>
					</form>
				{% endblock fos_user_content %}

			</div>
		</div>
	</div>
	
{% endblock %}